!!! XML
!!! Basic
%html{:xmlns=>'http://www.w3.org/1999/xhtml'}
  %head
    %meta{:'http-equiv'=>'content-type', :content=>'text/html; charset=utf-8'}
    %meta{:'http-equiv'=>'Content-Language', :content=>'en-us'}
    
    %link{:rel=>"shortcut icon", :href=>"/favicon.ico"}
    
    -# http://claimid.com/openid
    %link{:rel=>"openid.server", :href=>"http://openid.claimid.com/server"}
    %link{:rel=>"openid.delegate", :href=>"http://openid.claimid.com/blindgaenger"}   
     
    %link{:rel=>"stylesheet", :type=>"text/css", :href=>"/stylesheets/base.css"}
    %link{:rel=>"stylesheet", :type=>"text/css", :href=>"/stylesheets/turn.css"}

    %script{:type=>"text/javascript", :src=>"/javascripts/jquery.pack.js"}
    %script{:type=>"text/javascript", :src=>"/javascripts/jquery.color.pack.js"}
    %script{:type=>"text/javascript", :src=>"/javascripts/turn.js"}

    %title= @config['title']
  %body

    #box
      #main
        %h1 Welcome!
        - @items.each do |item|
          %p{:id=>item['id']}= to_html item

      #sidebar
        %ul
          - @items.select {|i| i.is_a? Hash}.each do |item|
            %li{:name=>item['id']}
              %a{:href=>item['link'], :title=>item['desc']}>
                %img{:src=>"/images/#{item['icon']}", :alt=>item['name']}>

      #carrier

    - if @config['turn_link'] && @config['turn_image']
      #page
        %a{:href=>@config['page_link'], :title=>'Turn the page!'}
          %img#turn{:src=>"/images/#{@config['turn_image']}"}

    :javascript
      function animateSection(item, color, time) {
        var section = $("#" + $(item).attr('name'));
        section.stop().animate( { color: color }, time );
      }

      $(document).ready(function() {
        // carry the colors from the stylesheet to javascript
        // can't access them with jQuery (see http://dev.jquery.com/ticket/4434)
        var textColor = $('#carrier').css('color');
        var highLight = $('#carrier').css('background-color');    
      
        $('li').hover(function() {
          $(this).addClass("active");
          animateSection(this, highLight, 250);
        }, function() {
          $(this).removeClass("active");
          animateSection(this, textColor, 1000);
        });
        
        $('#turn').fold({
          directory: '/images',
          turnImage: 'turn.png',
          side: 'right',
          startingWidth: 100,
          startingHeight: 100,
          autoCurl: true
        });
      });

    - if @config['google']
      :javascript
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      :javascript
        try {
        var pageTracker = _gat._getTracker("#{@config['google']}");
        pageTracker._trackPageview();
        } catch(err) {}

    - if @config['clicky']
      :javascript
        var domainy = location.protocol == "https:" ? "https://static.getclicky.com" : "http://static.getclicky.com";
        document.write(unescape("%3Cscript src='" + domainy + "/#{@config['clicky']}.js' type='text/javascript'%3E%3C/script%3E"));
      %noscript
        %img{:alt=>"Clicky", :width=>"1", :height=>"1", :src=>"http://static.getclicky.com/#{@config['clicky']}-db17.gif"}

